#firstName{
    display: inline-block;
    margin: 10px;

}

#lastName{
    display: inline-block;
    margin: 10px;
}

#idNumber{
    display: inline-block;
    margin: 10px;
}

#jobTitle{
    display: inline-block;
    margin: 10px;
}

#annulaSalary{
    display: inline-block;
    margin: 10px;
}


#firstNameTab{
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    width: 150px;
    height: 10px;

}

#lastNameTab{
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    width: 150px;
    height: 10px;
}

#idNumberTab{
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    width: 150px;
    height: 10px;
}

#jobTitleTab{
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    width: 150px;
    height: 10px;
}

#annualSalaryTab{
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    width: 150px;
    height: 10px;
}


